
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .Nav-container {
    background-color: rgb(34, 139, 34); 
    min-height: 70px;
    position: relative;
    overflow: visible;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  

  .nav-links ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    padding: 0;
  }
  .nav-links ul :hover{
  color: #ffe600;;
  }

  
 
  .nav-links ul li {
    color: white;
    font-weight: bold;
    line-height: 70px;
    cursor: pointer;
  }
  
  .dropdown-wrapper {
    position: relative;
    z-index: 5000; 
  }
  
  
  .dropdown-header {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .dropdown-header:hover {
    color: #ffe600;
  }
  
 
  .arrow {
    font-size: 7px;
    margin-left: -2px;
  }
  
 
  .dropdown-menu {
    display: block;
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 120px;
    padding: 5px 0;
    z-index: 5000; 
  }
  
 
  .dropdown-item {
    padding: 2px 6px;
    font-size: 13px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #060606!important;
  }
  
  .dropdown-item:hover {
    background-color: #ffe600;
    color: #060606;
  }
  

  .nav-button {
    margin-left: 20px;
  }
  
 
  .nav-button button {
    padding: 5px 10px;
    background-color: #f5a623; 
    color: #fff; 
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button button:hover {
    background-color: #e69500; 
  }
  